.subscription-main {
    padding: 60px 0;
    font-family: Arial, sans-serif;
    background-color: var(--light-gray);
    padding: 100px 200px;
    margin-top: 50px;
    border-radius: 13px;
    box-shadow: var(--shadow-sm);
}

.subscription-section {
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.subscription-section h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 40px;
}

.subscription-plans {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}