.hero-banner {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: #73a9c7;
    margin: 40px auto;
    padding: 50px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-banner h1 {
    color: white;
    font-size: 28px;
    margin: 0 0 10px 0;
}

.hero-banner p {
    color: white;
    font-size: 16px;
    margin: 0 0 20px 0;
}

.explore-button {
    background-color: #4CAF50; /* Verde de destaque */
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.2s;
}

.explore-button:hover {
    background-color: #45a049; /* Verde levemente mais escuro */
}