.card {
  background-color: var(--light-gray);
  border-radius: 12px;
  box-shadow: var(--shadow-md);
  width: 100%;
  max-width: 900px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  color: var(--text-color);
}

.card-header p {
  color: var(--dark-gray);
  font-size: 1rem;
}

.form-container {
  display: flex;
  gap: 40px;
}

.order-summary,
.payment-details {
  flex: 1;
}

.order-summary {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  height: 50%;
}

.order-summary h3,
.payment-details h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: column;
}

.item-label {
  color: var(--text-color);
}

.item-value {
  font-weight: bold;
  font-size: 20px;
}

.blue-text {
  color: var(--primary-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: 15px 0;
}

.access-info {
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.radio-label input {
  margin-right: 10px;
}

.card-icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.confirm-button {
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.confirm-button:hover {
  background-color: var(--secondary-color);
}

.terms-text {
  text-align: center;
  font-size: 0.8rem;
  color: var(--dark-gray);
  margin-top: 15px;
}

.terms-link {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }
}